site_name: CoRE.SIM document

repo_url: https://github.com/StrayedCats/CoRE.SIM

theme:
  name: material
  palette:
    primary: indigo
  features:
    - navigation.sections
    - navigation.footer
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - tables
  - admonition
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
    - javascripts/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - ホーム: index.md

  - はじめに:
    - デモ: GettingStarted/QuickStartDemo/index.md
    - Unityを使ってセットアップ: GettingStarted/SetupUnityProject/index.md

  - コンポーネント:
    - センサー:
      - カメラ センサー: Components/Sensors/CameraSensor/index.md
      - IMU センサー: Components/Sensors/IMUSensor/index.md
    - ROS2:
      - ROS2 トピックリスト: Components/ROS2/ROS2TopicList/index.md
      - カスタムROS2 msgを追加数r: Components/ROS2/AddACustomROS2Message/index.md
      - ROS2 For Unity: Components/ROS2/ROS2ForUnity/index.md

  - 開発者ガイド:
    - ドキュメント: DeveloperGuide/Documentation/index.md
    - ライセンス : DeveloperGuide/License/index.md
